html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: 18px inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}.news_content {
  font-size: 18px;
  text-align: center;
  margin: 1em 0.5em;
}

.news_content p {
  margin: 1em;
}

.contact_infos {
  font-size: 22px;
  margin-top: 2em;
}

.contact_infos p {
  text-align: left;
  margin-left: 10%;
}

.contact_infos p:first-child {
  margin-left: 5%;
}

.presentation_content {
  margin-bottom: 1em;
}

.presentation_content .animals_list p {
  margin-top: 0.25em;
}

.presentation_content .animals_list p:first-child {
  margin-top: 0.5em;
}

@media (max-width: 1281px) {
  .command_info {
    font-size: 17px;
  }
}

@media (max-width: 481px) {
  .command_info {
    font-size: 16px;
  }

  .news_content {
    font-size: 18px;
  }

  .news_content .contact_infos {
    font-size: 19px;
    margin-top: 1em;
  }

  .news_content .contact_infos p {
    text-align: left;
    margin-left: 2%;
  }

  .news_content .contact_infos p:first-child {
    margin-left: 2%;
  }

  .presentation_content {
    font-size: 17px;
  }
}

.contact_infos {
  font-size: 18px;
  margin: 1em 0.5em;
}

.contact_infos p {
  text-align: center;
  margin: 1em;
}

.img_slider {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_slicer {
  text-align: center;
  margin-top: 1em;
}

.flex_bottom {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.flex_bottom .img_bottom {
  width: auto;
  margin: 0.5em;
}

@media (max-width: 1281px) {
  .command_info {
    font-size: 17px;
  }
}

@media (max-width: 481px) {
  .command_info {
    font-size: 16px;
  }

  .news_content {
    font-size: 18px;
  }

  .news_content .contact_infos {
    font-size: 19px;
    margin-top: 1em;
  }

  .news_content .contact_infos p {
    text-align: left;
    margin-left: 2%;
  }

  .news_content .contact_infos p:first-child {
    margin-left: 2%;
  }

  .presentation_content {
    font-size: 17px;
  }
}

.news_content {
  font-size: 18px;
  text-align: center;
  margin: 1em 0.5em;
}

.news_content p {
  margin: 1em;
}

.presentation_content {
  margin-bottom: 1em;
}

.presentation_content .animals_list p {
  margin-top: 0.25em;
}

.presentation_content .animals_list p:first-child {
  margin-top: 0.5em;
}

@media (max-width: 1281px) {
  .command_info {
    font-size: 17px;
  }
}

@media (max-width: 481px) {
  .command_info {
    font-size: 16px;
  }

  .news_content {
    font-size: 18px;
  }

  .news_content .contact_infos {
    font-size: 19px;
    margin-top: 1em;
  }

  .news_content .contact_infos p {
    text-align: left;
    margin-left: 2%;
  }

  .news_content .contact_infos p:first-child {
    margin-left: 2%;
  }

  .presentation_content {
    font-size: 17px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7a937f;
  padding: 0 3%;
  margin-bottom: 1em;
  border-radius: 2px;
}

footer h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
  color: white;
  font-size: 22px;
}

footer p,
footer a {
  color: white;
  font-size: 20px;
}

footer .footer_element {
  margin: 1em 1.25em;
  flex: 0.8 0 0;
  display: flex;
  flex-direction: column;
}

footer .footer_element:nth-child(1) {
  flex: 0.5 0 0;
}

footer .footer_element:nth-child(2) {
  flex: 1 0 0;
}

footer .links {
  padding-left: 5%;
}

footer .contact {
  text-align: center;
}

footer .description {
  text-align: justify;
}

@media (max-width: 1281px) {
  footer .footer_element {
    margin: 1em 1em;
    flex: 0.51 0 0;
  }

  footer .footer_element:nth-child(1) {
    flex: 0.65 0 0;
  }

  footer .footer_element:nth-child(2) {
    flex: 1 0 0;
  }

  footer .links {
    padding-left: 0;
  }
}

@media (max-width: 961px) {
  footer {
    flex-direction: column;
  }

  footer .links p {
    margin-left: 55%;
    transform: translateX(-50%);
    text-align: left;
    white-space: nowrap;
  }
}

@media (max-width: 481px) {
  footer .footer_element {
    margin: 1em 1em;
    flex: 1 1 auto;
  }

  footer .footer_element:nth-child(1),
  footer .footer_element:nth-child(2) {
    flex: 1 1 auto;
  }

  footer .links p {
    margin-left: 40%;
  }
}

body {
  font-family: Calibri, Helvetica, arial, sans-serif;
  background-image: url("/img/background.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#wrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#main-logo {
  width: 20%;
  height: auto;
  margin: 25px auto;
}

.content_wrapper {
  background-color: #f3e0a4;
  margin: 2em 0;
  width: auto;
  height: auto;
  padding: 1em 8%;
  border-radius: 2px;
}

@media (max-width: 769px) {
  #wrapper {
    width: 100%;
  }

  .content_wrapper {
    margin: 0 0;
    padding: 1em 2.5%;
  }

  body {
    background-image: none;
  }
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: Calibri, Helvetica, arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.no_select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title_group {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}

.title_group h2 {
  white-space: nowrap;
  margin: 0 0.4em;
  color: #003343;
}

.title_group div {
  height: 30px;
  margin: 2px 0 0;
  background-image: linear-gradient(180deg, #003343 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 60%, #003343 60%, #003343 72.5%, #f3e0a4 72.5%);
  background-size: auto 30px;
}

.title_group div:first-child {
  width: 10%;
}

.title_group div:last-child {
  width: 100%;
}

@media (max-width: 769px) {
  .title_group div:first-child {
    width: 25%;
  }
}

@media (max-width: 481px) {
  .title_group {
    display: block;
  }

  .title_group h2 {
    margin: 0 0;
    text-align: center;
  }

  .title_group div {
    display: none;
  }
}

.nav-menu {
  width: 100%;
  height: auto;
  background-color: #6ab04c;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 2px;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0 8em;
}

.nav-menu ul li {
  flex: 0 0 16em;
  text-align: center;
}

.nav-menu ul li a {
  color: white;
  display: block;
  padding: 1em 0;
  font-size: 18px;
  font-weight: bold;
}

.nav-menu ul li a:hover {
  background-color: #559c4f;
}

.nav-menu .unroll {
  display: none;
  margin: 0;
  z-index: 1000;
  background-color: #9ccea6;
  position: absolute;
  flex-flow: column wrap;
}

.nav-menu .unroll li {
  flex: 1 1 auto;
  text-align: left;
  width: 16em;
}

.nav-menu .unroll li a {
  padding: 0.5em;
}

.nav-menu > ul li:hover .unroll {
  display: flex;
}

@media (max-width: 961px) {
  .nav-menu ul {
    margin: 0 0;
  }

  .nav-menu ul li {
    flex: 1 1 0;
  }

  .nav-menu .unroll {
    width: calc(33% + 2px);
  }

  .nav-menu .unroll li {
    flex: 1 1 0;
  }
}

@media (max-width: 769px) {
  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu .unroll {
    display: flex;
    position: relative;
    width: 100%;
  }

  .nav-menu .unroll li {
    width: 100%;
  }

  .nav-menu .unroll li a {
    text-align: center;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card .card_element {
  display: flex;
  align-items: center;
  width: 605px;
  height: 225px;
  margin: 1em;
  font-size: 17px;
  color: black;
  background-color: #eadca6;
  text-align: left;
  border-block: black;
  box-shadow: 2px 2px #e2c275;
}

.card .card_element img {
  width: 50%;
  height: 100%;
}

.card .card_element .card_sub_element {
  flex-direction: column;
  padding: 4px;
}

.card .card_element .card_sub_element h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.2em;
}

.card .card_element .card_sub_element p {
  text-align: left;
}

