$breakpoint-laptop: 1281px;
$breakpoint-small-screen: 961px;
$breakpoint-tablet: 769px;
$breakpoint-phone: 481px;

.frames {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap-reverse;
    align-items: safe start;

    .frame_wrapper {
        display: flex;

        flex: 1 1 calc(50% - 0.8em - 4em);
        flex-direction: row;

        background-color: #eadca6;

        text-align: left;
        border-block: black;
        box-shadow: 2px 2px #e2c275;

        margin: 0.8em 0.4em;
        padding: 2em;

        p {
            flex: 0.66 1.5 auto;
            margin-left: 0.6em;

            overflow-wrap: break-word;
            font-size: 17px;
            line-height: 1.4em;

            &:first-child {
                margin-left: 5em;
            }
        }

        .frame_description {
            display: flex;

            flex-direction: column;
        }

        img {
            flex: 0.33 0.5 33%;

            padding: 0.1em 0.2em;
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .frames {
        .frame_wrapper {
            flex-direction: column;

            p {
                &:first-child {
                    margin-left: 0;
                    text-align: center;
                }
            }
        }
    }
}

.title_group_caisse {
    display: flex;
    flex-direction: row;

    margin-top: 4em;

    h3 {
        white-space: nowrap;
        margin: 0 0.4em;

        color: #003343;
    }

    div {
        height: 25px;

        margin: 0.5px 0 0;

        background-image: linear-gradient(
                        180deg,
                        #003343 15%,
                        rgba(0, 0, 0, 0) 15%,
                        rgba(0, 0, 0, 0) 60%,
                        #003343 60%,
                        #003343 72.5%,
                        #f3e0a4 72.5%
        );
        background-size: auto 30px;

        &:first-child {
            width: 7%;
        }

        &:last-child {
            width: 80%;
        }
    }
}