$breakpoint-laptop: 1281px;
$breakpoint-small-screen: 961px;
$breakpoint-tablet: 769px;
$breakpoint-phone: 481px;

.img_body {
  margin: 1em 1em;
  width: 60%;
  height: auto;
  float: top;
}

.frames {

  margin: 1em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  div {
    padding: 0.4em;
    margin: 1em;

    width: 28%;
    height: 300px;

    font-size: 17px;
    color: black;
    background-color: #eadca6;
    text-align: center;
    border-block: black;
    box-shadow: 2px 2px #e2c275;

    p{
      margin: 0.5em;
    }
  }
}

@media (max-width: $breakpoint-phone) {

  .frames {
    div {
      margin: 1em;

      width: 100%;

      font-size: 17px;
      color: black;
      background-color: #eadca6;
      text-align: center;
      border-block: black;
      box-shadow: 2px 2px #e2c275;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      align-content: space-around;
    }
  }
}